.container{
       border: 3px solid #d9edf7;
       border-radius: 2em;
    }
	.header{
	   margin: 3em 0;
		
	}
	.logoimg{
	   float: left;
	   padding-left: 10em;
	   padding-right: 4em;
       padding-top: 3em;
       padding-bottom: 2em;
	}
	.logoimg1{
		float: left;
		padding-left: 5em;
		padding-right: 4em;
        padding-top: 3em;
        padding-bottom: 2em;
	}
	.top{
		float: left;
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 2.5em;
        padding-bottom: 2em;
	}
	.footer{
		margin-top: 24em;
        margin-bottom: 6em;
		text-align: center;
		background-color: white;
	}
	.footer p{
		font-size: 15px;
	}