<div>
	<h2>Route Info</h2>
	<div class="form-group" ng-class="{'has-error':newPostForm.title.$dirty && newPostForm.title.$invalid}">
		<label for="title" class="col-sm-2 control-label">Route Title:</label>
		<input type="text" name="title" ng-model="post.title" ng-required="true" class="form-control" id="title" placehodler="Title">
		<span class="error-message" ng-show="newPostForm.title.$dirty && newPostForm.title.$invalid">Title is mandatory</span>
	</div>
	<div class="form-group" ng-class="{'has-error':newPostForm.start.$dirty && newPostForm.tags.$invalid}">
		<label for="start" class="col-sm-2 control-label">Start:</label>
		<select name="start" ng-model="post.start">
			<option value="0">Please select a station.</option>
			<option value="Polyu">Polyu</option>
			<option value="Chun Fook Mansion">Chun Fook Mansion</option>
			<option value="Hung Kwan House">Hung Kwan House</option>
			<option value="Siu Ching Mansion">Siu Ching Mansion</option>
		</select>
	</div>
	<div class="form-group" ng-class="{'has-error':newPostForm.keywords.$dirty && newPostFrom.keywprds.$invalid}">
		<label for="ends" class="col-sm-2 control-label">End:</label>
		<select name="start" ng-model="post.end">
			<option value="0">Please select a station.</option>
			<option value="Polyu">Polyu</option>
			<option value="Chun Fook Mansion">Chun Fook Mansion</option>
			<option value="Hung Kwan House">Hung Kwan House</option>
			<option value="Siu Ching Mansion">Siu Ching Mansion</option>
		</select>	
	</div>
</div>
<hr>
<div class="form-group">
	<h2>Timetables</h2>
	<div class="form-group">
		<ul class="nav navbar-nav">
			<li>Every Monday to Friday</li>
		</ul>
		<table class="table">
			<thead>
				<tr>
					<th>Period</th>
					<th>Interval</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="t1.period" required></td>
					<td><input class="form-control" ng-model="t1.interval" required></td>
					<td><button class="btn btn-primary" ng-click="addt1()">Add</button></td>
				</tr>
				<tr ng-repeat="item in t1s">
					<td>{{item.period}}</td>
					<td>{{item.interval}}</td>
					<td><button class="btn btn-danger" ng-click="remove(item)">Remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<ul class="nav navbar-nav">
			<li>Every Weekends and Public Holidays</li>
		</ul>
		<table class="table">
			<thead>
				<tr>
					<th>Period</th>
					<th>Interval</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="t2.period" required></td>
					<td><input class="form-control" ng-model="t2.interval" required></td>
					<td><button class="btn btn-primary" ng-click="addt2()">Add</button></td>
				</tr>
				<tr ng-repeat="item in t2s">
					<td>{{item.period}}</td>
					<td>{{item.interval}}</td>
					<td><button class="btn btn-danger" ng-click="remove1(item)">Remove</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-success" ng-disabled="newPostForm.$invalid">Create</button>
		<button class="btn btn-danger" ng-click='back()'>Cancel</button>
	</div>
</div>