<div class="row">
	<div class="col-xs-12">
		<form ng-submit="updateRoute()" class="form-horizontal" novalidate role="form">
			<div class="form-group" style="margin-left: 2em; margin-right: 2em;">
				<h2>Route Info:</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Route</th>
							<th>Departure</th>
							<th>Destination</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" ng-model="route.busno" ng-required="true"></td>
							<td><input type="text" ng-model="route.start" ng-required="true"></td>
							<td><input type="text" ng-model="route.end" ng-required="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div class="form-group" style="margin-left: 2em;">
				<h2>Timetables:</h2>
				<div class="col-xs-8">
					<h3>Every Monday to Friday:</h3>
					<table class="table">
						<thead>
							<tr>
								<th>Period</th>
								<th>Interval</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in t1s">
								<td>
									<input type="text" class="form-control" ng-model="item.period" ng-required="true">
								</td>
								<td>
									<input type="text" class="form-control" ng-model="item.interval" ng-required="true">
								</td>
								<td>
									<button class="btn btn-danger" ng-click="remove(item)">Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-8 form-group" style="margin-left: 2em;">
				<h3>Every Weekends and Public Holidays:</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Period</th>
							<th>Interval</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in t2s">
							<td>
								<input type="text" class="form-control" ng-model="item.period" required>
							</td>
							<td>
								<input type="text" class="form-control" ng-model="item.interval"required>
							</td>
							<td>
								<button class="btn btn-danger" ng-click="remove1(item)">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="clearfix"></div>
			<div class="form-group" style="margin-left: 3em;">
				<button type="submit" class="btn btn-primary">Update</button>
				<button class="btn btn-primary" ng-click="back()">back</button>
			</div>
		</form>
	</div>
</div>