<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Route</th>
					<th>Departure</th>
					<th>Destination</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr ng-repeat="route in routes">
				<td>{{route.busno}}</td>
				<td>{{route.start}}</td>
				<td>{{route.end}}</td>
				<td>
					<a class="btn btn-primary" ui-sref="admin.postUpdate({id:route._id})">Edit</a>
					<a class="btn btn-danger" ng-click="deleteRoute(route)">Delete</a>
				</td>
			</tr>
		</table>
	</div>
</div>